
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" ,sans-serif;
    font-weight: 300;
    color: #edf0f1;
    
}
#row{
    background-color:rgba(3, 7, 30, 0.6) ;
    border-radius: 15px;
    box-shadow: 5px 10px 18px rgb(26, 0, 9);

}
#card1{

    color: #edf0f1;
    
    background-color:rgba(3, 7, 30, 0.6) ;
    box-shadow: 5px 10px 18px rgb(26, 0, 9);
}
#video{
    position: fixed;
    bottom: 0;
    top:0;
    right: 0;
    left: 0;
    background-color: rgba(3, 7, 30, 0.8);
    box-shadow: 5px 10px 18px rgb(26, 0, 9);
    z-index: 1000;
}
#lbl-score{
    background:linear-gradient(to Bottom,rgba(220, 47, 2),rgba(244, 140, 6));
    border-style: solid;
    border-color: rgba(255, 186, 8);
    box-shadow: 5px 10px 18px rgb(26, 0, 9);

}
@media screen and (max-width: 992px) and (min-width: 768px) {
    #card1{
    height: 12rem;
    }
}
