*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
#btnNavCollapse{
  position: absolute;
  right: 1%;
  z-index: 9999;
}

#iconBtn:hover{
  color: rgba(255, 153, 0);
}
.navLinks{
  display: flex;
  
}
#navBar{
    background-color: #24252A;
    background-image: linear-gradient(to bottom, #24252A,#370617);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.336);
    
}
ul{
  margin: 0;
    font-family: "Montserrat" ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
a:link, a:visited{
    font-family: "Montserrat" ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 3px 2%;

}
.navItems{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:absolute;
    right: 0%;
}
.navItems #itm{
  padding-right: 50px;
  letter-spacing: 2px;
}
.navItems #itm:hover{
  color: rgb(255, 216, 193);
}
.navLeft{
    display: flex;
    align-items: center;
}
.navSearch{
    font-family: "Montserrat" ,sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #edf0f1;
    background-color:rgba(121, 103, 103, 0.3) ;
    height: 2.9em;
    width: 60vh;
    margin: 0 1.5em;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.336);
}
.navSearch:focus{
    outline: none;
}
.logo{
    height: 50px;
    width: 50px;

}
.side-navbar {
    z-index: 999999;
    position: absolute;
    right: 2%;
    width: 180px;
    height: auto;
    background-color: #180209d2;
    backdrop-filter: blur(0.5rem);
    border-radius: 8px;
    opacity: 1;
  }
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #fd002a63;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-top: 50px;
    margin-left: -25px;
  }
  

  
  #menu-btn {
    background-color: #10090100;
    color: #fff;
    margin-left: -10px;
    outline: outset;
  }
  #menu-btn:hover{
    background-color: rgba(117, 27, 27, 0.712);
  }
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }
  @media (max-width:992px) {
          .navLinks{
            display: block;
          }
          .navItems{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            left: -20%;
          }

}
@media (max-width:392px) {
  .navSearch{
    width: 30vh;
  }
  
}