
#card{
    background-color: rgba(3, 7, 30, 0.507);
}
#backgroundNone{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
#card12{
    background-color: rgba(3, 7, 30, 0.733);
}
#card123{
    background-color: rgba(3, 7, 30, 0.733);
    margin-top: 6%;
}
.Header1{
    
    border-bottom: 2px solid rgb(255, 187, 0);
    box-shadow: 7px 10px 10px rgba(255, 187, 0, 0.199);
    text-shadow: 6px 2px 13px #000000;
    color: rgb(255, 248, 230);
}
.Header2{
    margin-bottom: 1%;
    border-bottom: 2px solid rgb(255, 187, 0);
    box-shadow: 7px 10px 10px rgba(255, 187, 0, 0.199);
    text-shadow: 6px 2px 13px #000000;
    color: rgb(255, 248, 230);
}